<mat-toolbar color="primary">
  <span routerLink="/" style="cursor: pointer">QuizApp</span>
  <span class="spacer"></span>
  
  <button mat-button routerLink="/player/quizzes">View Quizzes</button>

   <button mat-button routerLink="/admin/dashboard">Manage Quizzes</button>

   <button mat-button routerLink="/player/results/0">Leaderboard</button>
  <button mat-button (click)="onLogout()">Logout</button>
  
  <button mat-icon-button>
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>