<div class="container">
  <div *ngIf="isLoading" class="loading-state">
 
    <p>Loading questions...</p>
  </div>

  <!-- QUIZ STATE -->
  <mat-card *ngIf="!isLoading && !isFinished" class="quiz-card">

    <mat-progress-bar
      mode="determinate"
      [value]="((currentStep + 1) / questions.length) * 100">
    </mat-progress-bar>

   <mat-card-header class="question-header">
  <mat-card-title>
    Question {{ currentStep + 1 }} of {{ questions.length }}
  </mat-card-title>

  <span class="timer-badge">
  Time Left: ⏱ {{ timeLeft }}s
  </span>
</mat-card-header>

    <mat-card-content>
      <!-- <div class="timer">
  Time Left: {{ timeLeft }}s
</div> -->

      <p class="question-text">
        {{ questions[currentStep]?.questionText }}
      </p>

     <mat-radio-group
  class="options-group"
  [(ngModel)]="selectedOption">

  <mat-radio-button
    class="option-card"
    *ngFor="let opt of [
      questions[currentStep]?.optionA,
      questions[currentStep]?.optionB,
      questions[currentStep]?.optionC,
      questions[currentStep]?.optionD
    ]"
    [value]="opt">
    {{ opt }}
  </mat-radio-button>

</mat-radio-group>

    </mat-card-content>

    <!-- <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        (click)="next()"
        [disabled]="!selectedOption">
        {{ currentStep === questions.length - 1 ? 'Submit Quiz' : 'Next Question' }}
      </button>
    </mat-card-actions> -->
<mat-card-actions class="action-buttons">

  <!-- PREVIOUS BUTTON -->
  <button
    mat-stroked-button
    color="primary"
    (click)="previous()"
    [disabled]="currentStep === 0">
    Previous
  </button>

  <!-- NEXT / SUBMIT BUTTON -->
  <button
    mat-raised-button
    color="primary"
    (click)="next()"
    [disabled]="!selectedOption">
    {{ currentStep === questions.length - 1 ? 'Submit Quiz' : 'Next Question' }}
  </button>

</mat-card-actions>

    
  </mat-card>

  <!-- RESULT STATE -->
  <mat-card *ngIf="isFinished" class="result-card">
    <h1>Your Score: {{ totalScore }} / {{ questions.length }}</h1>
    <button mat-flat-button color="accent" routerLink="/player/quizzes">
      Back to Quizzes
    </button>
  </mat-card>

</div>